
<form method="post">
    <input type="text" placeholder="Ad Soyad" name="NameSurname" required />
    <input type="text" placeholder="Email" name="Email" required />
    <input type="text" placeholder="Telefon" name="Phone" required />
    <input type="text" placeholder="Konu" name="Subject" required />
    <textarea placeholder="Mesajınızı giriniz.." name="Message"></textarea>
    <input type="submit" value="GÖNDER" />
</form>