
<div class="content-form" style="margin-top:100px;">
    <h3>Yorum Yap</h3>
    <form method="post" class="form-group">
        <input name="BlogId" value="@ViewBag.BlogId" type="text" />
        <input name="Username" type="text" placeholder="Kullanıcı Adı" required />
        <input name="Email" type="text" placeholder="Mail Adresi" required />
        <textarea name="CommentContent" placeholder="Mesajınızı giriniz.."></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>