
<div class="col-md-6 col-sm-12">
    <fieldset>
        <input name="BlogId" value="@ViewBag.BlogId" type="hidden" id="name" required="">
    </fieldset>
    <fieldset>
        <input name="Username" type="text" id="name" placeholder="Kullanıcı Adı" required="">
    </fieldset>
</div>
<div class="col-md-6 col-sm-12">
    <fieldset>
        <input name="Email" type="text" id="email" placeholder="Email Adresi" required="">
    </fieldset>
</div>
<div class="col-lg-12">
    <fieldset>
        <textarea name="CommentContent" rows="6" id="message" placeholder="Mesajınız" required=""></textarea>
    </fieldset>
</div>
