@model List<MvcBlog.Models.TblComment>

<div class="sidebar-item recent-posts">
    <div class="sidebar-heading">
        <h2>SON YORUMLAR</h2>
    </div>
    <div class="content">
        <ul>
            @foreach (var item in Model.OrderByDescending(x => x.BlogId).Take(6))
            {
                <li>
                    <a href="/Blog/BlogDetail/@item.BlogId">
                        <h6>@item.Username : @item.CommentContent</h6>
                        <span>@item.TblBlog.BlogTitle</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
