
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-text">
                    <p>
                        Tüm Hakları Saklıdır

                        | Design: <a rel="nofollow" href="https://templatemo.com" target="_parent">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>